#duplicate this and rename to .env

OPENAI_API_KEY=
EXA_API_KEY=
OPENAI_SMART=
OPENAI_DUMB=
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
OPEN_AI_MODEL=

#OPENAI_API_BASE=http://localhost:11434/v1 #if you use ollama